<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Home</span>
  </ion-nav-title>
  <ion-content>
    <div class="row categories-list">
      <div  class="col col-50" ui-sref="app.visitorsList">
        <a class="feed-category">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" ng-src="img/visitor_checkin_icon.png" spinner-on-load>
          </pre-img>
          <div class="category-bg"></div>
          <span class="category-title">Visitors CheckIn</span>
        </a>
      </div>
      <div  class="col col-50" ui-sref="app.visitorsCheckOutList">
        <a class="feed-category">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" ng-src="img/visitor_checkout_icon.png" spinner-on-load>
          </pre-img>
          <div class="category-bg"></div>
          <span class="category-title">Visitors CheckOut</span>
        </a>
      </div>
    </div>
    <div class="row categories-list" ng-show="userDetails.DeploymentType=='Condo'">
      <div  class="col col-50" ui-sref="app.vehicalsList">
        <a class="feed-category">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" ng-src="img/vehicle_checkin_icon.png" spinner-on-load>
          </pre-img>
          <div class="category-bg"></div>
          <span class="category-title">Vehicle CheckIn</span>
        </a>
      </div>
      <div  class="col col-50" ui-sref="app.vehicalCheckout">
        <a class="feed-category">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" ng-src="img/vehicle_checkout_icon.png" spinner-on-load>
          </pre-img>
          <div class="category-bg"></div>
          <span class="category-title">Vehicle CheckOut</span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
