<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Vehicles Checkout List</p>
  </ion-nav-title>
	  <ion-content>
	 <div class="item item-input-inset">
        <label class="item-input-wrapper" style="position:relative;">
          <input type="text" placeholder="Search..." ng-model="search">
			<i class="ion-search" style="position:absolute;top:5px;right:10px;"></i>
        </label>
      </div>
     <ion-list>
		<ion-item>
			<div class="list list-card" ng-repeat="vehical in vehicalList  | filter:search">
			    <div class="item" style="padding:0px;">
					<div class="row" style="padding:5px;">
						<div class="col-33" style="padding:5px;">
							<img src="img/no_image.jpg" class="imgProfile" ng-if="vehical.imagepath=='' || vehical.imagepath==null ">
							<img src="{{$root.vehical_path}}{{vehical.imagepath}}" class="imgProfile" ng-if="vehical.imagepath!='' && vehical.imagepath!=null ">
						</div>
						<div class="col-67" style="padding:5px;">
							<h2>{{ vehical.platenumber}}<span style="float:right;" ng-click="updateVehical(vehical)"><i class="ion-eye" style="color: #33769b;font-size: 20px;"></i></span></h2>
							<p>Type : {{ vehical.vehicletype}}</p>
							<p>Location : {{ vehical.location}}</p>
							<p>Purpose : {{vehical.purpose}}<span style="float:right;" ng-click="checkoutViehicalInList(vehical)"><i class="ion-clock" style="color: #33769b;font-size: 20px;"></i></span></p>
							<div class="row bottom-content" style="padding-left:0px;">
								<div class="col-50">
								</div>
								<div class="col-50">
									<p style="font-size: 11px;float: right;">{{vehical.checkintime }}</p>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>



		</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
