<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>New Vehicle CheckIn</p>
  </ion-nav-title>
  <ion-content>
     <div class="row" ng-click="uploadFromCamera()">
    	<div class="col text-center">
		    <img src="{{vehicalAddObj.imagepath}}" style="width: 100%;height:200px" ng-if="vehicalAddObj.imagepath!='' && vehicalAddObj.imagepath!=null">
			<img src="img/no_image_available.jpg" style="width: 100%;height:200px" ng-if="vehicalAddObj.imagepath=='' || vehicalAddObj.imagepath==null">
    	</div>
    </div>
	  <ul class="list">
          <label class="item item-input">
			<span class="input-label"><i class="ion-model-s addIcons" ></i>Vehicle Plate #</span>
			<input type="text" ng-model="vehicalAddObj.platenumber">
		  </label>
          <label class = "item item-input item-select">
		   <span class="input-label"><i class="ion-podium addIcons" ></i>Vehicle Type</span>
		   <select ng-model="vehicalAddObj.vehicletype">
			  <option ng-repeat="vehical in vehicalTypeDetails" value="{{ vehical.vehicletype }}">{{ vehical.vehicletype }}</option>
		   </select>
		  </label>
          <label class = "item item-input item-select">
		   <span class="input-label"><i class="ion-podium addIcons" ></i>Purpose</span>
		   <select ng-model="vehicalAddObj.purpose">
			  <option ng-repeat="purpose in purposeDetails" value="{{ purpose.PurposeName }}">{{ purpose.PurposeName }}</option>
		   </select>
		  </label>
           <label class="item item-input">
			<span class="input-label"><i class="ion-ios-location addIcons" ></i>Location</span>
			<input type="text" ng-model="vehicalAddObj.location">
		  </label>
          <label class="item item-input">
			<span class="input-label"><i class="ion-person addIcons" ></i>Contractor</span>
			<input type="text" ng-model="vehicalAddObj.contractor">
		  </label>
          <label class="item item-input">
			<span class="input-label"><i class="ion-man addIcons" ></i>Security Guard Name</span>
			<input type="text" ng-model="vehicalAddObj.securityguardname">
		  </label>
          <label class="item item-input">
			<span class="input-label"><i class="ion-person addIcons" ></i>Auth. Person's IC</span>
			<input type="text" ng-model="vehicalAddObj.authpersonic">
		  </label>
          <label class="item item-input">
			<span class="input-label"><i class="ion-person addIcons" ></i>Auth. Person's Name</span>
			<input type="text" ng-model="vehicalAddObj.authpersonname">
		  </label>


	  </ul>
	  <button class="button button-block button-assertive" ng-click="savevehicalCheckIn()">
        Submit
      </button>

  </ion-content>
</ion-view>
