<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Update Visitor</p>
  </ion-nav-title>
  <ion-content>
     <div class="row">
    	<div class="col text-center">
		   <img src="{{$root.visitor_path}}{{visitorAddObj.snapshotpath}}" style="width: 100%;height:200px" ng-if="visitorAddObj.snapshotpath!='' && visitorAddObj.snapshotpath!=null">
			<img src="img/no_image_available.jpg" style="width: 100%;height:200px" ng-if="visitorAddObj.snapshotpath=='' || visitorAddObj.snapshotpath==null">
    	</div>
    </div>
	  <ul class="list">
		  <label class="item item-input">
			<span class="input-label"><i class="ion-calculator addIcons" ></i>NRIC / FIN</span>
			<input type="text" ng-model="nricDisplay" ng-disabled="true">
		  </label>
		  <label class="item item-input">
			<span class="input-label"><i class="ion-person addIcons" ></i>Name</span>
			<input type="text" ng-model="visitorAddObj.name" ng-disabled="true">
		  </label>
		  <label class="item item-input">
			<span class="input-label"><i class="ion-ios-book addIcons" ></i>Address</span>
			<textarea  ng-model="visitorAddObj.address" ng-disabled="true" ></textarea>
		  </label>
		  <label class="item item-input" ng-show="userDetails.DeploymentType=='Condo'">
			<span class="input-label"><i class="ion-podium addIcons" ></i>Visiting Company / BLK</span>
			<input type="text" ng-model="visitorAddObj.fromcompany">
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-podium addIcons" ></i>Purpose</span>
		   <select ng-model="visitorAddObj.purpose">
			  <option ng-repeat="purpose in purposeDetails" value="{{ purpose.PurposeName }}">{{ purpose.PurposeName }}</option>
		   </select>
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-outlet addIcons" ></i>Visitor Status</span>
		  <select ng-model="visitorAddObj.visitortype" ng-change="changeVisitorStatus(visitorAddObj.visitortype)">
			  <option ng-repeat="visitor in visitorTypeDetails" value="{{ visitor.VisitorTypeId }}">{{ visitor.VisitorTypeDescription }}</option>
		   </select>
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-key addIcons" ></i>Key</span>
		   <select ng-model="visitorAddObj.keyid">
			  <option ng-repeat="key in keysDetails" value="{{ key.KeyId }}">{{ key.KeyName }}</option>
		   </select>
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-calculator addIcons" ></i>Pass</span>
		   <select ng-model="visitorAddObj.Passid">
			  <option ng-repeat="pass in passesDetails" value="{{ pass.PassId }}">{{ pass.PassName }}</option>
		   </select>
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-map addIcons" ></i>Gate</span>
		   <select ng-model="visitorAddObj.gateid">
			  <option ng-repeat="gate in gatesDetails" value="{{ gate.GateId }}">{{ gate.GateName }}</option>
		   </select>
		  </label>
		  <label class="item item-input" ng-show="userDetails.DeploymentType=='Condo'">
			<span class="input-label"><i class="ion-model-s addIcons" ></i>Vehicle #</span>
			<input type="text" ng-model="visitorAddObj.vehicleplatenumber">
		  </label>
		  <label class="item item-input" ng-show="userDetails.DeploymentType=='Condo'">
			<span class="input-label"><i class="ion-ios-telephone addIcons" ></i>Tel. No.</span>
			<input type="tel" ng-model="visitorAddObj.telno">
		  </label>
		  <label class="item item-input" ng-show="userDetails.DeploymentType=='Condo'">
			<span class="input-label"><i class="ion-android-textsms addIcons" ></i>Remarks</span>
			<textarea ng-model="visitorAddObj.remarks"></textarea>
		  </label>
		  <div class="item item-divider" ng-show="userDetails.DeploymentType=='Club' || userDetails.DeploymentType=='Condo'">Block Guest?</div>
		  <ion-radio ng-model="visitorAddObj.IsGuestBlocked" ng-value=true ng-show="userDetails.DeploymentType=='Club'  || userDetails.DeploymentType=='Condo'" ng-disabled="true">Yes</ion-radio>
		  <ion-radio ng-model="visitorAddObj.IsGuestBlocked" ng-value=false ng-show="userDetails.DeploymentType=='Club' || userDetails.DeploymentType=='Condo'" ng-disabled="true">No</ion-radio>


		  <label class = "item item-input item-select" ng-show="visitorAddObj.IsGuestBlocked">
		   <span class="input-label"><i class="ion-outlet addIcons" ></i>Block Type</span>
		   <select ng-model="visitorAddObj.BlockType">
			  <option value="Permanent">Permanent </option>
			   <option value="Temporary">Temporary </option>
		   </select>
		  </label>

		  <label class="item item-input item-stacked-label" ng-show="visitorAddObj.IsGuestBlocked">
			<span class="input-label"><i class="ion-calendar addIcons" ></i>Date of Block</span>
			<input type="date" ng-model="visitorAddObj.BlockedDate">
		  </label>
		  <label class="item item-input item-stacked-label" ng-show="visitorAddObj.IsGuestBlocked">
			<span class="input-label"><i class="ion-calendar addIcons" ></i>Date of Unblock</span>
			<input type="date" ng-model="visitorAddObj.UnblockedDate" ng-disabled="visitorAddObj.BlockType=='Permanent'" ng-change="changeDateCal()">
		  </label>
		  <label class="item item-input" ng-show="visitorAddObj.IsGuestBlocked">
			<span class="input-label"><i class="ion-calculator addIcons" ></i>Block Days</span>
			<input type="number" ng-model="visitorAddObj.BlockDays" ng-disabled="true">
		  </label>
		  <label class="item item-input" ng-show="visitorAddObj.IsGuestBlocked">
			<span class="input-label"><i class="ion-android-textsms addIcons" ></i>Block Remarks</span>
			<textarea ng-model="visitorAddObj.BlockRemarks"></textarea>
		  </label>

	  </ul>
	  <button class="button button-block button-assertive" ng-click="saveVisitorCheckIn()">
        Submit
      </button>

  </ion-content>
</ion-view>
