<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Visitors CheckOut</p>
  </ion-nav-title>

  <ion-content>
	 <div class="item item-input-inset">
        <label class="item-input-wrapper" style="position:relative;">
          <input type="text" placeholder="Search..." ng-model="search">
			<i class="ion-search" style="position:absolute;top:5px;right:10px;"></i>
        </label>
      </div>
     <ion-list>
		<ion-item>
			<div class="list list-card" ng-repeat="visitor in visitorsList | filter:search">
			    <div class="item" style="padding:0px;">
					<div class="row" style="padding:5px;">
						<div class="col-33" style="padding:5px;">
							<img src="img/no_image.jpg" class="imgProfile" ng-if="visitor.snapshotpath=='' || visitor.snapshotpath==null ">
							<img src="{{$root.visitor_path}}{{visitor.snapshotpath}}" class="imgProfile" ng-if="visitor.snapshotpath!='' && visitor.snapshotpath!=null ">
						</div>
						<div class="col-67" style="padding:5px;">
							<h2>{{ visitor.name}}<span style="float:right;" ng-click="viewVisitor(visitor)"><i class="ion-eye" style="color: #33769b;font-size: 20px;"></i></span></h2>
							<p>NRIC : {{hideNric(visitor.nricid)}}</p>
							<p ng-show="visitor.pass!=null && visitor.pass!=undefineds">Pass :<span > {{ visitor.pass}}</span></p>
							<p ng-if="userDetails.DeploymentType == 'Club' || userDetails.DeploymentType == 'Condo'"><span style="float:right;" ng-click="blockUser(visitor)"><img src="img/user_block.png"/></span></p>
							<p ng-show="visitor.fromcompany!=undefined && visitor.fromcompany!=null">Visiting Company : <span>{{visitor.fromcompany}}</span></p>
							<p ng-show="visitor.fromcompany==undefined || visitor.fromcompany==null">&nbsp; &nbsp; &nbsp; <span>&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
							<p> <span style="float:right;" ng-click="checkOutVisitorInList(visitor)"><i class="ion-clock" style="color: #33769b;font-size: 20px;"></i></span></p>
							<div class="row bottom-content" style="padding-left:0px;">
								<div class="col-50">
									{{visitor.purpose}}
								</div>
								<div class="col-50">
									<p style="font-size: 11px;float: right;">{{visitor.checkintime}}</p>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>



		</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
