<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>New Visitor CheckIn</p>
  </ion-nav-title>
  <ion-content>
     <div class="row" ng-click="uploadFromCamera()">
    	<div class="col text-center">
		    <img src="{{visitorAddObj.snapshotpath}}" style="width: 100%;height:200px" ng-if="visitorAddObj.snapshotpath!='' && visitorAddObj.snapshotpath!=null">
			<img src="img/no_image_available.jpg" style="width: 100%;height:200px" ng-if="visitorAddObj.snapshotpath=='' || visitorAddObj.snapshotpath==null">
    	</div>
    </div>

	  <ul class="list">
		  <label class = "item item-input item-select">
		   <span class="input-label"><i class="ion-map addIcons" ></i>Document Type</span>
		   <select ng-model="documentType">
			 <option value="ic">IC</option>
			 <option value="passport">Passport</option>
		   </select>
		  </label>
		  <div class="row" ng-show="documentType=='ic'">
			  <div class="col">

				  <button class="button button-small  button-calm" ng-click="scanBack()" style="float:right;font-size: 19px;">
						Scan Back
				  </button>
				  <button class="button button-small button-assertive" ng-click="scanFront()" style="float:right;margin-right: 10px;font-size: 19px;">
						Scan Front
				  </button>
			  </div>
	      </div>
		  <div class="row" ng-show="documentType=='passport'">
			  <div class="col">
				  <button class="button button-small button-assertive" ng-click="scanFrontPassport()" style="float:right;margin-right: 10px;font-size: 19px;">
						Scan Front
				  </button>
			  </div>
	      </div>
		  <label class="item item-input">
			  <span class="input-label"><i class="ion-calculator addIcons" ></i>NRIC / FIN <span ng-show="userDetails.DeploymentType=='Club'"> *</span></span>
			<input type="text" ng-model="nricObj.nricDisplay" ng-blur="chaeckBlockStatus('nric')" ng-focus="cheackValue()">

		  </label>
		  <label class="item item-input">
			<span class="input-label"><i class="ion-person addIcons" ></i>Name *</span>
			<input type="text" ng-model="visitorAddObj.name">
		  </label>
		  <label class="item item-input" ng-show="userDetails.DeploymentType=='Condo'">
			<span class="input-label"><i class="ion-ios-telephone addIcons" ></i>Tel. No. *</span>
			<input type="tel" ng-model="visitorAddObj.telno" ng-blur="chaeckBlockStatus('tel')">
		  </label>
		  <label class="item item-input">
			<span class="input-label"><i class="ion-ios-book addIcons" ></i>Address</span>
			<textarea  ng-model="visitorAddObj.address"></textarea>
		  </label>
		  <label class="item item-input" ng-show="userDetails.DeploymentType=='Condo'">
			<span class="input-label"><i class="ion-podium addIcons" ></i>Visiting Company / BLK</span>
			<input type="text" ng-model="visitorAddObj.fromcompany">
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-podium addIcons" ></i>Purpose</span>
		   <select ng-model="visitorAddObj.purpose">
			  <option ng-repeat="purpose in purposeDetails" value="{{ purpose.PurposeName }}">{{ purpose.PurposeName }}</option>
		   </select>
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-outlet addIcons" ></i>Visitor Status</span>
		  <select ng-model="visitorAddObj.visitortype" ng-change="changeVisitorStatus(visitorAddObj.visitortype)">
			  <option ng-repeat="visitor in visitorTypeDetails" value="{{ visitor.VisitorTypeId }}">{{ visitor.VisitorTypeDescription }}</option>
		   </select>
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-key addIcons" ></i>Key</span>
		   <select ng-model="visitorAddObj.keyid">
			  <option ng-repeat="key in keysDetails" value="{{ key.KeyId }}">{{ key.KeyName }}</option>
		   </select>
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-calculator addIcons" ></i>Pass</span>
		   <select ng-model="visitorAddObj.Passid">
			  <option ng-repeat="pass in passesDetails" value="{{ pass.PassId }}">{{ pass.PassName }}</option>
		   </select>
		  </label>
		  <label class = "item item-input item-select" ng-show="userDetails.DeploymentType=='Condo'">
		   <span class="input-label"><i class="ion-map addIcons" ></i>Gate</span>
		   <select ng-model="visitorAddObj.gateid">
			  <option ng-repeat="gate in gatesDetails" value="{{ gate.GateId }}">{{ gate.GateName }}</option>
		   </select>
		  </label>
		  <label class="item item-input" ng-show="userDetails.DeploymentType=='Condo'">
			<span class="input-label"><i class="ion-model-s addIcons" ></i>Vehicle #</span>
			<input type="text" ng-model="visitorAddObj.vehicleplatenumber">
		  </label>
		  <label class="item item-input" ng-show="userDetails.DeploymentType=='Condo'">
			<span class="input-label"><i class="ion-android-textsms addIcons" ></i>Remarks</span>
			<textarea ng-model="visitorAddObj.remarks"></textarea>
		  </label>


	  </ul>
	  <button class="button button-block button-assertive" ng-click="saveVisitorCheckIn()">
        Submit
      </button>

  </ion-content>
</ion-view>
