<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Visitors Block List</p>
  </ion-nav-title>
  <ion-content>
	 <div class="item item-input-inset">
        <label class="item-input-wrapper" style="position:relative;">
          <input type="text" placeholder="Search..." ng-model="search">
			<i class="ion-search" style="position:absolute;top:5px;right:10px;"></i>
        </label>
      </div>
     <ion-list>
		<ion-item>
			<div class="list list-card" ng-repeat="visitor in visitorsList | filter:search">
			    <div class="item" style="padding:0px;">
					<div class="row" style="padding:5px;">
						<div class="col-33" style="padding:5px;">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" class="imgProfile">
						</div>
						<div class="col-67" style="padding:5px;">
							<h2>{{ visitor.name}}<span style="float:right;" ng-click="updateVisitor(visitor)"><i class="ion-compose" style="color: #33769b;font-size: 20px;"></i></span></h2>
							<p>NRIC : {{ visitor.nricid}}</p>
							<p>Type : {{visitor.BlockType}}</p>
							<p>Blocked : {{visitor.BlockedDate}} <span style="float:right;" ng-click="unblockVisitorInList(visitor)"><i class="ion-ios-checkmark" style="color: #33769b;font-size: 20px;"></i></span></p>
							<p>Unblocked : {{visitor.UnblockedDate}}</p>

						</div>
					</div>
			    </div>
			</div>



		</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
